### General ###
*.log
*.pid
.DS_Store
HELP.md
application.properties

### Maven ###
target/
!**/src/main/resources/**/target/
!**/src/test/resources/**/target/
!.mvn/wrapper/maven-wrapper.jar

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr















### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build directories ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### VS Code ###
.vscode/
